@import "mixins.less";

body {
	.font-14px;
	position: relative;
	z-index: 0;
	min-width:@site-width;
	width: @global-number *1%;
	background: url(../custom-theme/assets/squairy_light.png);
	color: @font-color;
	font-weight: @global-number * 3;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #252122;
	font-weight: @global-number * 7;
}

h2{
	.font-22px;
}

h3{
	.font-19px;
}

#container{
	position:relative;
    z-index:1;
    padding-bottom: @global-number /2px;
    min-width: @site-width;
    width: 100%;
    background: url(../custom-theme/assets/squairy_light.png);
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

#override-page{
	overflow: hidden;
	background: none;
}

.site {
	.margin-center;
	width: @site-width;
	background-color: @white;
}

.button {
	display: inline-block;
	padding: 0.65em 1.5em 0.65em 1.5em;
	outline: 0;
	border: 0;
	border-radius: @global-number / 20px;
	background: @orange;
	color: @white !important;
	text-decoration: none;
	font-weight: @global-number * 7;
	cursor: pointer;
}

.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}

.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}

.major-404 {
	.text-center;
	position: relative;
	top: @global-number * .1px;
	margin: 50px;
	border-top: solid 1px @grey + -20;
		
		h2{
			font-size: 80px !important;
			text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.56);
			color: @orange;
			position: relative;
			top: -0.55em;
			display: inline;
			margin: @null;
			padding: 0 1em 0 1em;
			background: url(../custom-theme/assets/squairy_light.png);
		}

}

.message-404 {
	width: 500px;
	margin: auto;
	text-align: center;
	
		.content{
			margin-bottom: 70px;
			
				h2{
					font-size: 40px;
					text-align: center;
					padding: @null;
					margin: @null;
				}
				
				p{
					padding: 0 !important;
					margin-bottom: 25px;
					
						a{
							color: @font-color;
							text-decoration: none;
							font-weight: 500;
						}
						
				}
				
		}
		
}

#searchform{

	input#s{
		background: white;
		border-radius: 4px;
		padding: 5px 10px;
	}
	
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required,
.wpcf7-form-control.wpcf7-textarea,
.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{
	border: none;
	padding: 0 25px;
	height: 48px;
	background-color: #EBEBEB;
	outline-width: 0;
	width: 50.847457627119%;
	font-size: 1em;
}

.wpcf7-form-control.wpcf7-textarea{
	padding-top: 25px!important;	
	min-height: 200px;
}