.site-header.gradient {
  text-align: center;
  border-bottom: solid 1px #cccccc;
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  background: url(../custom-theme/assets/header-bg-fallback.png);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
.main-navigation {
  text-align: center;
}
a.logo img {
  text-align: center;
  margin: 50px 0;
}
span {
  display: block;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
  display: inline-block !important;
  width: 100%;
  height: 100px;
}
.main-navigation li {
  display: inline-block;
  height: 100px;
}
.main-navigation a {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7143;
  width: 170px;
  height: 30px;
  color: #5c2d0a;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.main-navigation a:hover {
  text-decoration: underline;
}
.active {
  font-weight: bold;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
  display: inline-block;
}
.menu-item-146 a {
  overflow: hidden;
  width: 180px;
  height: 85px;
  background-image: url(../custom-theme/assets/logo.png);
  background-position: center 60px;
  background-repeat: no-repeat;
  text-indent: 100%;
}
