#intro {
  text-align: center;
  float: left;
  border-bottom: solid 1px #cccccc;
  padding: 20px 0 50px;
}
#intro .third {
  float: left;
  width: 33.333333333333336%;
}
#intro .third p {
  padding: 25px;
}
#post-22 .entry-content {
  padding: 0;
}
#post-22 .entry-content img {
  margin: 0;
  width: 100% !important;
}
#intro .middle {
  box-shadow: 16px 0px 0px 0px #ffffff, 17px 0px 0px 0px #cccccc, -16px 0px 0px 0px #ffffff, -17px 0px 0px 0px #cccccc, -16px -45px 0px 0px #ffffff, 16px -45px 0px 0px #ffffff, -16px 45px 0px 0px #ffffff, 16px 45px 0px 0px #ffffff, -16px 0px 45px 0px rgba(0, 0, 0, 0.15), 16px 0px 45px 0px rgba(0, 0, 0, 0.15);
}
